body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: white;
  color: #555;
}

body .bg {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 100%, 0 0);
  background-image: url("https://images.unsplash.com/photo-1605918321412-d6504db4748e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@media (min-width: 840px) {
  body .bg {
    -webkit-clip-path: polygon(0 0, 77% 0, 60% 100%, 0% 100%);
            clip-path: polygon(0 0, 77% 0, 60% 100%, 0% 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1605918321412-d6504db4748e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px;
}

body .navbar #logo-nav {
  text-decoration: none;
  color: #00000070;
  font-size: 1rem;
  font-weight: 600;
}

body .navbar .navlink {
  color: #00000070;
  text-decoration: none;
}

body .navbar .navlinkbtn {
  padding: 10px;
}

body .navbar .navlinkbtn-active {
  background-color: #00000050;
  color: white;
  padding: 10px;
}

body .container {
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .subcontainer {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .info-container .info-sub-container .link-icon {
  color: #00000070;
  text-decoration: none;
  font-size: 20px;
}

body .info-container .info-sub-container .link-icon:active {
  color: #00000020;
}

body .cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10em;
  border: solid 2px transparent;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 58, 0.1);
          box-shadow: 10px 10px 10px rgba(46, 54, 58, 0.1);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .cardcontainer .h1 {
  font-weight: bold;
  font-size: 40px;
  color: #00000070;
}

body .cardcontainer .card {
  background-color: rgba(200, 200, 200, 0.3);
  padding: 20px;
  border-radius: 10em;
  border: solid 2px transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body .cardcontainer .page-btn {
  text-decoration: none;
  background-color: rgba(200, 200, 200, 0.3);
  font-weight: 600;
  color: #00000070;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 10em;
  border: solid 2px transparent;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 58, 0.1);
          box-shadow: 10px 10px 10px rgba(46, 54, 58, 0.1);
}

body .cardcontainer .page-btn:active {
  background-color: rgba(200, 200, 200, 0.3);
  color: #00000020;
}

body #dp {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/t_profile_original,q_auto,f_auto/v1/attachments/profile/photo/e17fe7927d2e111618953dc34f63360f-1597243454772/a9de6756-4d7e-4350-981e-13e497e529a0.jpg");
  padding: 20px;
  border-radius: 150px;
  height: 13em;
  width: 13em;
}
/*# sourceMappingURL=main.css.map */