body {
  font-family: 'Montserrat';
  background-color: #e0e0e0;
  color: #555;
}

body body {
  margin: 0em;
}

body .bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

body .navbar .navlink {
  font-weight: 500;
  color: #00000070;
  text-decoration: none;
}

body .navbar .navlinkbtn {
  padding: 10px;
}

body .navbar .navlinkbtn-active {
  background-color: #e0e0e0;
  -webkit-box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2), inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2), inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border-radius: 3em;
  color: #00000070;
  padding: 10px;
}

body .container {
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .subcontainer {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .info-container .info-sub-container .link-icon {
  color: #00000070;
  text-decoration: none;
  font-size: 20px;
}

body .info-container .info-sub-container .link-icon:active {
  color: #00000020;
}

body .cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e0e0e0;
  padding: 10px;
  margin: 1em auto;
  border-radius: 10em;
  border: solid 2px transparent;
  -webkit-box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .cardcontainer .h1 {
  font-weight: bold;
  font-size: 40px;
  color: #00000070;
}

body .cardcontainer .card {
  background-color: #e0e0e0;
  -webkit-box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2), inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2), inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10em;
  border: solid 2px transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body #dp {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/t_profile_original,q_auto,f_auto/v1/attachments/profile/photo/e17fe7927d2e111618953dc34f63360f-1597243454772/a9de6756-4d7e-4350-981e-13e497e529a0.jpg");
  padding: 20px;
  border-radius: 150px;
  height: 13em;
  width: 13em;
}
/*# sourceMappingURL=neumorph.css.map */