@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*,
body {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.h1 {
  font-weight: bold;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5019607843);
}

.p {
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: 500;
}

.bg {
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.pageWrapper .nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.pageWrapper .nav .logoText {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 2.4rem;
  font-weight: bold;
}
.pageWrapper .nav .navMenu {
  display: flex;
  align-items: center;
}
.pageWrapper .nav .navMenu .menuText {
  color: rgba(0, 0, 0, 0.5019607843);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding-inline: 0.5em;
}
.pageWrapper .nav .navlinkbtn-active {
  background-color: #e0e0e0;
  box-shadow: 1.2em 1.2em 2.4em 0 rgba(0, 0, 0, 0.2), -1.2em -1.2em 2.4em 0 rgba(255, 255, 255, 0.5);
  border-radius: 3em;
  padding: 10px;
}
.pageWrapper .pageBody .cardcontainer {
  display: flex;
  background-color: #e0e0e0;
  padding: 1em;
  border-radius: 3em;
  border: solid 2px transparent;
  box-shadow: 1.2em 1.2em 2.4em 0 rgba(0, 0, 0, 0.2), -1.2em -1.2em 2.4em 0 rgba(255, 255, 255, 0.5);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.pageWrapper .pageBody .cardcontainer .info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}
.pageWrapper .pageBody .cardcontainer .info-container .info-sub-container {
  padding: 0.2em;
}
.pageWrapper .pageBody .cardcontainer .info-container .info-sub-container .link-icon {
  color: rgba(0, 0, 0, 0.3137254902);
  text-decoration: none;
  font-size: 2em;
}
.pageWrapper .pageBody .cardcontainer .info-container .info-sub-container .link-icon:hover {
  color: #777;
}
.pageWrapper .pageBody .cardcontainer .info-container .info-sub-container .link-icon:active {
  color: rgba(0, 0, 0, 0.1254901961);
}
.pageWrapper .pageBody .cardcontainer .dp {
  border-radius: 150px;
  height: 25em;
  width: 25em;
}
.pageWrapper .pageBody .cardcontainer .card {
  background-color: #e0e0e0;
  box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2), inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  padding: 2em;
  border-radius: 25em;
  border: solid 2px transparent;
}
.pageWrapper .pageBody .cardcontainer .page-btn {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4392156863);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 10em;
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 58, 0.1);
}
.pageWrapper .pageBody .cardcontainer .page-btn:active {
  color: rgba(0, 0, 0, 0.1254901961);
}
.pageWrapper .pageBody .bar-outline {
  height: 3em;
  width: 30em;
  border: 2px solid rgba(95, 95, 95, 0.3);
  border-radius: 3em;
  margin-block: 1em;
}
.pageWrapper .pageBody .bar-outline .bar-inline {
  display: flex;
  height: 3em;
  background-color: rgba(95, 95, 95, 0.3);
  border-radius: 2em;
  align-items: center;
}
.pageWrapper .pageBody .bar-outline .bar-inline .skill-text {
  padding-inline: 1em;
  color: rgba(255, 255, 255, 0.64);
}

/*


  .container {
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: row;

    .subcontainer {
      flex: 0.5;
      align-content: center;
    }
  }



  *//*# sourceMappingURL=neumorphic.css.map */